.idea
.idea/*
cache/*
log/*.log
cgi-bin
cgi-bin/*
conf
conf/*
nbproject/*
nbproject
local/*
application/data/cache/*
application/data/logs/*.log
application/data/import/*
application/data/session/*
application/data/uploads/*
composer.lock
.gitmodules